.container {
  max-width: 100%;
  margin: 10px 0;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  text-align: "center";
}

/* Styling the video element to make it responsive */
.video-element {
  width: 100%;
  max-width: 720px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.radio-container {
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 100%;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  text-align: "center";
}
.radio-label {
  font-size: 20px;
  margin-right: 10px;
  margin-top: auto;
}
.button {
  background-color: #008000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  border-radius: 10px;
  cursor: "pointer";
}

.button:hover {
  background-color: #45a049;
}
.label-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 20px;
  max-width: 100%;
}

.bar-container {
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: left; /* Center align the bars horizontally */
}

.bar {
  display: flex;
  height: 25px;
  border-radius: 5px;
  transition: width 1s ease;
  max-width: 60%;
  align-items: center;
  align-self: right;
}

.usual1 {
  background-color: hsl(115, 85%, 50%);
}

.usual0 {
  background-color: #d9534f;
}

.title_container {
  top: 10px;
  left: 10px;
  width: 500px;
  height: 200px;
  color: #fff;
  background-color: #437199;
  position: relative;
  text-align: center;
  padding-top: 20px;
}

.title {
  margin: 10px 10px;
  height: 40px;
  background-position: center;
  background-repeat: repeat-x;
}

.title_sub_text {
  padding-top: 10px;
  font-weight: bold;
  overflow: hidden;
  position: relative;
}
h1 {
  top: 10px;
  /* position: absolute; */
}
